style {
 box-sizing: border-box;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  background: #ccc;
  padding: 20px;
  margin-top: 0%;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;

}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #FCE3CF;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

header{
    background-color: #C52C69;
    color: white;
    font-family: "Irish Grover", system-ui;
    font-size: 50px;
    padding: auto;
    text-align: center;
}

footer{
    background-color: #C52C69;
}

body{
    background-color: #FCE3CF;
}

nav{
    background-color: #FFC2C2;
    
    
    
}
.imagens{
    height: 250px;
    width: 250px;
    text-align: center;
    align-items: center;
    border-radius: 5%;
}



.boasvindas{
    background-color: #E0A4A4;
    padding: 5%;
    width: 80%;
    font-size: 80px;
    box-sizing: border-box;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #530000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 10%;


}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #CA3333;
  margin-top: 5%;
  
  
  
}

.opacidade{
  background-color: #FBCCCC;
  
  

}

.bolos{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #B20C0C;
}

.tortas{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #4C6C30;
}

.docinhos{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #8D7938;
}

.container{
    display: flex;
    gap: 30px;
    
    
}

.container-bolos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    
    
    
    
}

.receita{
    width: 250px;
    text-align: center;
   
}

.receita img{
    width: 100%;
    border-radius: 15px;
    
}

.logo{
    height: 150px;
    width: 250px;
    border-radius: 5%;

}

.FVM{
  background-color: #FBCFCF;
  color: #920024;
  margin-top: 2%;
  
 
}


.float{
  float: left;
  margin-left: 5%;
  margin-top: 5%;
 
}

.whats{

  width: 20px;
  
}

.insta{
  width: 20px;
}

footer {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/*BOLOS*/

.bolo1{
  color: #CD0000;
}
.bolo2{
  color: #802A2A ;
}
.bolo3{
  color: #D45800;
}
.bolo4{
  color: #215E0B ;
}
.bolo5{
  color: #9D0A0A ;
}
.bolo6{
  color: #8F2929 ;
}

.blm{
  float: right;
}


/*RECEITAS*/

.receita1{
  justify-content: center;
}

.float{
  float: right;
}