style {
 box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;

}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #FCE3CF;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

header{
    background-color: #C52C69;

    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: auto;
    
}

footer{
    background-color: #C52C69;
}

body{
    background-color: #FCE3CF;
}

nav{
    background-color: #FFC2C2;
    
    
    
}
.imagens{
    height: 250px;
    width: 250px;
    text-align: center;
    align-items: center;
}



.boasvindas{
    background-color: #E0A4A4;
    padding: 5%;
    width: 80%;
    font-size: 80px;
    box-sizing: border-box;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #530000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;


}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #CA3333;
  
}

.opacidade{
  background-color: #FBCCCC;
  
  

}

.bolos{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #B20C0C;
}

.tortas{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #4C6C30;
}

.docinhos{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
  color: #8D7938;
}

.logo{
    height: 150px;
    width: 250px;

}

.whats{

  width: 20px;
  
}

.insta{
  width: 20px;
}

footer {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}